.projects {
    width: 20rem;

    display: grid;
    grid-template-columns: 25rem 25rem 25rem;
    grid-gap: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 5%;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.first-image {
    width: 25rem;
    padding: 10%;

}
h6 {
    font-size: larger;
    text-align: center;
}
.body {
    background: #2a3439;
    color: #EDF5E1;
    width: 25rem;
    padding: 5%;
    text-align: center;
}

.body a {
    font-size: smaller;
    text-align: center;
}