@media screen and (max-width: 1024px){
    div {
        width: 50%; 
        }
}

@media screen and (min-width: 769px) {
    div {
    width: 50%; 
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
    div {
        width: 25%; 
        }
}

@media only screen and (max-device-width: 480px) {
    div {
        width: 15%; 
        }
}